* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "GT Pressura";
    src: url("fonts/GT-Pressura-Medium-Trial.otf") format("opentype");
}

html {
    font-family: "GT Pressura";
    background-color: #0e0e0e;
}

.full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0e0e0e;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 80%;
    height: 85%;
    min-width: 800px;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    justify-content: center;
}

.bg-image-left {
    display: flex;
    flex-direction: column;
    background-image: url("images/las-vegas-background.jpg");
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 1;
}

.left-icon, .left-footer {
    color: white;
}

.left-icon {
    display: flex;
    margin-top: 19vh; 
    height: 140px;
    background-color: rgba(255,255,255, 0.3);
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.left-footer {
    margin-top: auto;
    text-align: center;
}

.left-footer a {
    color: white;
}

.content-top, .content-middle, .content-bottom {
    min-height: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 40px;
    background-color: rgb(240, 240, 240);
}



.text-top, .text-middle {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.content-top {
    font-size: 1.75rem;
}

.content-middle {
    flex-shrink: 0;
    background-color: white;
}

.emphasize {
    font-style: italic;
}

table {
    border-spacing:0 20px;
    
}

input {
    width: 220px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

table td {
    width: 280px; 
}

button {
    background-color: rgb(0, 39, 0);
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.5rem; 
    color: white;
    padding: 0;
    margin-bottom: 30px; 
    border: none;
}

.content-bottom a {
    color: black;
}